:root{
    --vermelho : red;
    --preto: black;
    --amarelo: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logotipo {
    margin-left: 5px;
    color: var(--amarelo);
    font-size: 32px; 
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: var(--preto);
    background-color: var(--amarelo)!important;
    transition: 750ms;
}